.gameBoardCell {
  width: 100%;
  cursor: pointer;
  border-right: 1px solid #838488;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameBoardCell img {
  width: 100%;
}
.gameBoardCell1 img {
  width: 100%;
}
